<header class="main-header">

    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "HomeUtenteLogged")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>P</b>PK</span>
        <span class="logo-lg">
            <img src="~/Images/logo-publiparking-def.png" title="Publiparking" alt="Publiparking" style="width:85%;" />
        </span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <style>
    </style>
    <nav class="navbar navbar-static-top" role="navigation">
        <div style="float:left">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" style="padding-top: 23px;">
                <span class="sr-only">Toggle navigation</span>
            </a>
        </div>
        <div class="navbar-custom-menu" style="float:left">
            <ul class="nav navbar-nav">


                <li class="dropdown user user-menu" style="border-right: 1px solid #fff;">
                    <a href="@Url.Action("Index", "HomeUtenteLogged")" class="dropdown-toggle" data-toggle="dropdown" style="margin-top:-25px">
                        <span><a href="@Url.Action("Index", "HomeUtenteLogged")">Home</a></span>

                    </a>

                </li>
                <li class="dropdown user user-menu" style="border-right: 1px solid #fff;">
                    <a href="@Url.Action("Esperienza", "HomeUtenteLogged")" class="dropdown-toggle" data-toggle="dropdown" style="margin-top:-25px">
                        <span><a href="@Url.Action("Esperienza", "HomeUtenteLogged")">Esperienza</a></span>

                    </a>

                </li>
                <li class="dropdown user user-menu" style="border-right: 1px solid #fff;">
                    <a href="@Url.Action("Privacy", "HomeUtenteLogged")" class="dropdown-toggle" data-toggle="dropdown" style="margin-top:-25px">
                        <span><a href="@Url.Action("Privacy", "HomeUtenteLogged")">Privacy</a></span>

                    </a>

                </li>
                <li class="dropdown user user-menu" style="border-right: 1px solid #fff;">
                    <a href="@Url.Action("About", "HomeUtenteLogged")" class="dropdown-toggle" data-toggle="dropdown" style="margin-top: -25px">
                        <span><a href="@Url.Action("About", "HomeUtenteLogged")">Chi Siamo</a></span>
                    </a>

                </li>

                <li class="dropdown user user-menu">
                    <a href="@Url.Action("Contact", "HomeUtenteLogged")" class="dropdown-toggle" data-toggle="dropdown" style="margin-top:-25px">
                        <span><a href="@Url.Action("Contact", "HomeUtenteLogged")">Contatti</a></span>
                    </a>

                </li>



            </ul>
        </div>


        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @* BEGIN Messages *@
                @*<li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="~/img/user.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>*@
                @* END Messages *@
                @* BEGIN Notifications *@
                @*<li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>*@
                @* END Notifications *@
                @* BEGIN Tasks *@
                <!--<li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <h3>
                                            Design some buttons
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        <div class="progress xs">-->
                @* Change the css width attribute to simulate progress *@
                <!--<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>
                </li>-->
                @* END Tasks *@
                @* BEGIN User Account Menu *@


                @if (User.Identity.IsAuthenticated)
                {
                    //using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "pull-right" }))
                    //{
                    @Html.AntiForgeryToken()
                    <li class="dropdown user user-menu" style="padding-top:5px;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/img/user_authenticated.jpg" class="img-circle" alt="User Image" style="width:20px">
                            <span class="hidden-xs">Benvenuto  @User.Identity.Name</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="~/Images/login.png" class="img-circle" alt="User Image">

                                <p style="color:#FFF">
                                    @Html.ActionLink(User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style = "color:#FFF !important" })
                                    @{
                                        var date = DateTime.Now;
                                    }
                                    <small>Autenticato  @date</small>
                                </p>
                            </li>

                            <li class="user-footer">
                                <div class="pull-left">
                                    <a asp-controller="HomeUtenteLogged" asp-action="Profile" class="btn btn-default btn-flat">I miei dati</a>
                                </div>
                                @using (Html.BeginForm("Logout", "HomeUtente", FormMethod.Post, new { id = "logoutForm", @class = "pull-right" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="pull-right">
                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Esci</a>
                                        @*<a href="#" class="btn btn-default btn-flat">Sign out</a>*@
                                    </div>
                                }
                            </li>
                        </ul>
                    </li>
                    //}
                }
                else
                {
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/Images/user.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">Area Riservata</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="~/Images/login.png" class="img-circle" alt="User Image">
                                <p>
                                    <strong style="color:#FFF; font-style:italic">Publiparking</strong>
                                </p>

                                <p>
                                    Area Riservata
                                    @*<small>Member since Nov. 2012</small>*@
                                </p>
                            </li>
                            @*<li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                </li>*@
                            <li class="user-footer">
                                <div class="pull-left">
                                    @Html.ActionLink("Register", "Register", "HomeUtente", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                </div>
                                <div class="pull-right">
                                    @Html.ActionLink("Login", "Login", "HomeUtente", routeValues: null, htmlAttributes: new { id = "loginLink" })
                                </div>

                            </li>
                        </ul>
                    </li>
                }





                @* END User Account Menu *@
                @* BEGIN Controllo Sidebar Toggle Button per ora non serve *@
                @*<li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>*@
                @* END Control Sidebar Toggle Button *@
            </ul>
        </div>
    </nav>

</header>