@model Publiparking.Web.Models.Account.LoginViewModel

@{
    ViewBag.Title = "Area Riservata";
    string message = ViewBag.message != null ? (string)ViewBag.message : string.Empty;
    Int32 messageType = ViewBag.messageType != null ? (Int32)ViewBag.messageType : 1;
    bool hasEnte = ViewBag.HasEnte != null ? (bool)ViewBag.HasEnte : false;
    bool isFormVisible = ViewBag.IsFormVisible != null ? (bool)ViewBag.IsFormVisible : false;
    //Layout = "~/Views/Shared/_startPage.cshtml";
}
<environment include="Development,Formazione,Produzione">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/PubliparkingSheet.css" />
    <link rel="stylesheet" href="~/css/fontawesome/css/all.css" />

</environment>
<div class="row">
    <div class="col-md-12">
        @if (message != string.Empty)
        {
            <div id="div_message" class="row">
                <div class="col-md-12 col-md-offset-0">
                    @Html.Partial("MessageBarPartial", new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(), new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary()) { { "message", message }, { "messageType", messageType } })

                    @if (!hasEnte)
                    {
                        <center>

                            <a asp-area="" asp-controller="HomeUtente" asp-action="Login" class="btn btn-primary">In fase di autenticazione è ncessario selezionare l'Ente.</a>

                        </center>
                        <br />
                    }
                </div>
            </div>
        }
        @if (isFormVisible)
        {
            <section id="loginForm">
                <div class="box box-default">
                    <div class="box-header without-border">
                        <h1 class="box-title" style="font-size:26px">Autenticazione</h1>
                        <br />
                        <h2 class="box-title">Inserire le credenziali per accedere.</h2>
                    </div>
                    <hr class="hr-orange" />

                    <div class="box-body">
                        <div class="row">
                            @using (Html.BeginForm("Login", "HomeUtente", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, false, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <table style="margin-left:4px;background-color:transparent; border:none;">
                                    <tbody>
                                        <tr style="background-color:transparent; border:none;">
                                            <td style="width:10%">Tipo Ente:</td>
                                            <td style="width:19%">
                                                @Html.DropDownListFor(m => m.selected_id_tipo_ente, new SelectList(Model.listTipoEnte, "id_tipo_ente", "desc_tipo_ente"), new { @id = "ddlTipoEnte" })
                                                <span asp-validation-for="selected_id_tipo_ente" class="text-danger"></span>
                                            </td>
                                            <td style="width:15%">Seleziona l'Ente:</td>
                                            <td>
                                                @Html.DropDownListFor(m => m.selEnteId, new SelectList(Model.listEnte, "id_ente", "descrizione_ente"), new { @id = "ddlEnte" })
                                                <span asp-validation-for="selEnteId" class="text-danger"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="divider div-transparent div-arrow-down" style="margin-top:0px !important;"></div>
                                <div class="form-group">
                                    <label asp-for="UserName" class="col-md-2  control-label"></label>
                                    <div class="col-md-10">
                                        <input class="form-control text_35" asp-for="UserName">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="col-md-2  control-label"></label>
                                    <div class="col-md-10">
                                        <input type="password" class="form-control text_35" asp-for="Password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="codFiscalePIVA" class="col-md-2  control-label"></label>
                                    <div class="col-md-10">
                                        <input class="form-control text_35" asp-for="codFiscalePIVA">
                                        <span asp-validation-for="codFiscalePIVA" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <a asp-area="" asp-controller="HomeUtente" asp-action="Index" alt="Annulla l'autenticazione e ritorna alla Home Page" class="btn btn-default">Annulla</a>
                                        <input type="submit" value="Accedi" class="btn btn-default" alt="Esegue l'autenticazione" />
                                        <a asp-area="" asp-controller="RegistraUtente" asp-action="RegistraUtente" class="btn btn-default" alt="Esegui registrazione come nuovo utente">Registrazione</a>
                                        <a asp-area="" asp-controller="HomeUtente" asp-action="RecuperaPassword" alt="Esegue il recupero della password" class="btn btn-default">Recupera Password</a>
                                    </div>
                                </div>
                                <p class="p_pad_left_login">
                                    <div class="divider div-transparent div-arrow-down" style="margin-top:0px !important;"></div>
                                    <ul class="login-list">
                                        <li>
                                            Tramite le credenziali
                                            <span style="color: #FFF !important; background-color:#0066cc;font-size:18px;">&nbsp;SPID&nbsp;</span>
                                        </li>

                                    </ul>
                                </p>
                                <div class="row div_pad_left_login">
                                    <div class="col-md-7">

                                        <p style="text-align:justify">
                                            Se sei in possesso già di un Identità Digitale, Publiservizi è abilitata a SPID.
                                            Accedi con <strong>SPID</strong> per usufruire dei nostri servizi e quelli della Pubblica Amministrazione.
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5" style="padding-left: 33px;">
                                        <p style="margin-bottom: 0px !important"><a href="http://www.spid.gov.it" target="_blank">Maggiori informazioni su SPID</a></p>
                                        <p style="margin-bottom: 0px !important"><a href="http://www.spid.gov.it/richiedi-spid" target="_blank">Non hai SPID?</a></p>
                                        <p style="margin-bottom: 0px !important"><a href="http://www.spid.gov.it/serve-aiuto" target="_blank">Serve aiuto?</a></p>
                                    </div>
                                    <div class="col-md-6">
                                        <a asp-area="" asp-controller="HomeUtente" asp-action="SpidLogin" style="width:54%" class="btn btn-customspid">
                                            Accedi con SPID
                                            <img style="width:15%;padding-left: 5px;" title="Accedi con SPID" alt="Accedi con SPID" src="~/Images/Spid/spid-ico-circle-bb.png" />
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <br /><br /><br /><br /><br /><br />
                </div>
            </section>
        }
    </div>
</div>
<div class="row">
    <div class="col-sm-8" style="text-align:left">
        <div id="id_url" style="display: none; margin-top:-8px">
            <a id="link_ente" href='#' target="_blank" class="btn btn-drop-dark" style="height:49px;padding-top: 13px;">
                <span></span>
            </a>
        </div>
    </div>
</div>
<div style="height:100%"></div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
<environment include="Development,Formazione,Produzione">
    <script src="~/js/plugins/jquery/jquery-3.3.1.js"></script>
    <script src="~/js/plugins/bootstrap/bootstrap.js"></script>
    <script src="~/js/plugins/fastclick/fastclick.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/js/plugins/moment/moment.js"></script>
    <script src="~/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/js/plugins/icheck/icheck.js"></script>
    <script src="~/js/plugins/validator/validator.js"></script>
    <script src="~/js/plugins/inputmask/jquery.inputmask.bundle.js"></script>
    <script src="~/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    @*<script src="~/js/init.js"></script>*@
</environment>
<script type="text/javascript">
    $(document).ready(function () {
        TipoEnteChange();
        //EnteChange();

    });
    $(function () {
        $("#ddlTipoEnte").change(function (e) {
            TipoEnteChange();
        });
    });
    $(function () {
        $("#ddlEnte").change(function (e) {
            EnteChange();
        });
    });
    function TipoEnteChange() {
        if ($("#ddlTipoEnte").val() != ""){
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetEntiByTipo", "UnloggedBase")",
                data: { "IdTipoEnte": $("#ddlTipoEnte").val()},
                success: function (data) {
                    $('#ddlEnte').removeAttr('disabled');
                    $("#ddlEnte").html('');
                    $("#ddlEnte").append($('<option></option>').val(0).html("Seleziona..."));

                    var found=false;
                    $.each(data, function (id, option) {
                        $("#ddlEnte").append($('<option></option>').val(option.id_ente).html(option.descrizione_ente));
                        if (option.id_ente == '@Model.selEnteId') {
                            found = true;
                        }
                    });

                    if (@Model.selEnteId != 0 && found) {
                        $("#ddlEnte").val(@Model.selEnteId);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                   alert(messageErroreAjax);
                }
            });
        }
        else {
            $('#ddlEnte').attr('disabled', 'disabled');
            $("#ddlEnte").html('');
        }
    }
         function EnteChange() {
          if ($("#ddlEnte").val() != "") {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SelectEnte", "HomeUtente")",
                data: { "IdEnte": $("#ddlEnte").val()},
                success: function (data) {
                    var arr = data.split(';');
                    if (arr[0] == null || arr[0] == '') {
                        $("#id_url").css("display", "none");
                    }
                    else {
                        $("#id_url").css("display", "block");
                        $("#link_ente").attr('href', arr[0]);
                        $("#link_ente").html('Visita il sito del ' + arr[1]);

                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(messageErroreAjax);
                }
            });
        }
        else {
            $('#ddlEnte').attr('disabled', 'disabled');
            $("#ddlEnte").html('');
        }
    }

</script>

