@model Publiparking.Data.SqlServer.Core.Model.anagrafica_ente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>anagrafica_ente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.codice_ente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.codice_ente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.descrizione_ente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.descrizione_ente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cod_regione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cod_regione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cod_provincia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cod_provincia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cod_comune)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cod_comune)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.indirizzo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.indirizzo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tel1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tel1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tel2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tel2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_tipo_ente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_tipo_ente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_stato_contatto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_stato_contatto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.flag_on_off)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.flag_on_off)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cod_fiscale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cod_fiscale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.p_iva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.p_iva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data_ultimo_controllo_validita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data_ultimo_controllo_validita)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nome_db)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome_db)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.flag_Tipo_rendicontazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.flag_Tipo_rendicontazione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.flag_sportello)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.flag_sportello)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.flag_presenze)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.flag_presenze)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.flag_idrico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.flag_idrico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.flag_sosta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.flag_sosta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.user_name_db)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.user_name_db)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.password_db)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.password_db)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.indirizzo_ip_db)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.indirizzo_ip_db)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cod_ente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cod_ente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.codice_concessione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.codice_concessione)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tp_entity_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tp_entity_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pec)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pec)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.flag_tipo_gestione_pagopa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.flag_tipo_gestione_pagopa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.codice_ente_pagopa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.codice_ente_pagopa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.aux_digit_pagopa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.aux_digit_pagopa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.application_code_pagopa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.application_code_pagopa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.codice_segregazione_pagopa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.codice_segregazione_pagopa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.codice_struttura_ente_pagopa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.codice_struttura_ente_pagopa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CBILL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CBILL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.url_ente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.url_ente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_risorsa_web)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_risorsa_web)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_ente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
